.home{
    margin-left: 7vw !important;
}
.card_row{
    color: black;
}
.card_row button{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Montaga', serif;
}
.card__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card_row h5{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: left;
}
.card__header button{
    background: none;
    outline: none;
    margin: 0 10px !important;
    font-size: 1.3rem !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__header button:nth-child(1){
    border: 1px solid #05043e;
    color: #05043e;
}
.card__header button:nth-child(2){
    border: 1px solid #d11b1b;
    color: #d11b1b;
}
.card__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card__footer p{
    font-size: 0.8rem;
    opacity: 0.8;
}

@media (max-width:760px){
  .home{
      margin:5px !important;
      margin-bottom: 80px !important;

  }
}