.home{
    margin-left: 7vw !important;
}
.card_row{
    color: black;
}
.card_row button{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Montaga', serif;
}
.card__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card__header button{
    border: none;
    background: none;
    outline: none;
    opacity: 0.6;
}
button h5{
    font-size: 1.5rem;
    font-weight: 300;
}
.card_row h5{
    text-align: left;
}
.card__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* float: bottom; */
}
.card__footer p{
    font-size: 0.8rem;
    opacity: 0.8;
}

@media (max-width:760px){
  .home{
      margin:5px !important;
      margin-bottom: 80px !important;

  }
}